

.certificate__modal {
  display: block;
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.8);
  &.hidden {
    display: none;
  }
}

.modal__image {
  position: absolute;
  border: 3px solid #7752be;  
  box-shadow: 0 0 10px rgba(233,127,228,.5);
  border-radius: 5px;
  
  &.landscape {
    top: 10vh;
    left: 15vw;
    width: 70vw;
  }
  &.portrait {
    top: 5vh;
    left: 30vw;
    width: 40vw;
  }
}

.close-btn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: 2rem;
  height: 2rem;
  opacity: 1;
  z-index: 1000;
  &:hover {
    opacity: 0.3;
    cursor: pointer;
  }
  &::before, 
  &::after {
    position: absolute;
    left: 0.9rem;
    content: "";
    height: 2rem;
    width: 0.2rem;
    background-color: #FFF;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &.hidden {
    opacity: 0;
  }
}