body {
  font-family: 'Montserrat', sans-serif;
    font-size: 10px;
  margin: 0;
  padding: 0;  
}
  
h1, h4, h6, p, div, span {
  margin: 0;
  padding: 0;
}
  
header {
  height: 8.5rem;
  width: 100%;
  background-color: #E6E6FA;
}

.header-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-info {
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1.25rem;
  &>*:first-child {
    font-size: 1rem;
    font-weight: 700;
  }
}

.img {
  border-radius: 5%;
  margin-right: 1rem;
  border: 2px solid #7752be;
  box-shadow: 0 0 20px rgba(233,127,228,.904);
}

.photo {
  width: 5rem;
  height: 5rem;
}

.certificates {
  display: flex;
  align-items: center;
}

.certificate {
  &.portrait {
    width: 5rem;
    height: 6.5rem;
  }
  &.landscape {
    width: 7.5rem;
    height: 5rem;
  }
 
}

.wrapper {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.container {
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.card {
  display: inline-block;
  width: 20rem;
  min-height: 25rem;
  padding: 0.5rem 1rem;
  border: 2px solid #7752be;  
  border-radius: 5px;
  margin-bottom: 1rem;
  &:hover {
    transition: 0.5s;
    box-shadow: 0 0 20px rgba(233,127,228,.904);
  }
}

h4 {
  display: inline-flex;
  justify-content: center;
  font-size: 1.25rem;
  padding: 0.5rem 0;
}

h6 {
  font-size: 1rem;
}

#swiper-button-prev,
#swiper-button-next {
  color: #7752be;
  transform: scale(0.5);

}

#swiper-button-next {
  right: -5px;
}

#swiper-button-prev {
  left: -5px;
}

#swiper-pagination {
  position: absolute;
  bottom: 0.5rem;
  --swiper-theme-color: #7752be;
}

#swiper-container {
  height: 14rem;
}

.card__description {
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.5rem 0;
  text-align: justify;
}

.card__demo,
.card__source {
  cursor: pointer;
  font-size: 0.75rem;
  height: 1.5rem;
  &:hover {
    font-size: 0.85rem;
    font-weight: 700;
  }

}
  
.card__image {
  display: block;
  margin: 0 auto;
  width: 20rem;
  height: 12.5rem;
}

i {
  color: #7752be;
}

a {
  color: black;
  text-decoration: none;
  padding-left: 0.5rem;
}