@import '../../style/constants';
@import '../../style/mixins';

.cards {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  &-wrapper {
    display: block;
    width: 80%;
    margin: 0 auto;
    @include media-tablet {
      width: 90%;
    }
  }
}
