@import '../../style/constants';
@import '../../style/mixins';

header {
  height: 15rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  @include media-laptop {
    height: 27rem;
  }
  @include media-tablet {
    height: 32rem;
  }
  @include media-mobile {
    height: 40rem;
  }
}

.header {
  &-wrapper {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @include media-laptop-big {
      width: 90%;
    }
    @include media-laptop {
      width: 96%;
      flex-direction: column;
    }
  }
}

.personal-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  width: 60rem;
  @include media-laptop {
    justify-content: space-evenly;
  }
  @include media-tablet {
    width: 90%;
  }
  @include media-mobile {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  & > .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > .title {
      @include font($size: 1.4rem, $height: 1.6rem, $weight: bold);
      @include media-tablet {
        @include font($size: 1.2rem, $height: 1.5rem, $weight: bold);
      }
    }
  }
  & > .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include font($size: 1.25rem, $height: 2rem, $weight: normal);
    @include media-tablet {
      @include font($size: 1rem, $height: 1.5rem, $weight: normal);
    }
    & .icon {
      color: $color-dark;
      margin-right: 5px;
    }
    & a {
      padding-left: 0.5rem;
    }
  }
}

.img {
  &.certificate {
    cursor: pointer;
    border-radius: 5%;
    box-shadow: 0 0 20px $color-dark;
    @include media-tablet {
      box-shadow: none;
    }
  }

  &.photo {
    width: 7rem;
    height: 7rem;
    margin-bottom: 1rem;
    @media (max-width: 1200px) {
      margin-right: 1rem;
    }
  }
}

.certificates {
  width: calc(100% - 27.5rem);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @include media-laptop {
    width: 90%;
    margin-top: 2rem;
  }
  @include media-tablet {
    display: none;
  }
  &__slider {
    display: none;
    @include media-tablet {
      display: block;
      width: 100%;
      height: 16rem;
      margin-top: 1rem;
    }
  }
}

.certificate {
  &.portrait {
    width: 7.5rem;
    height: 9.75rem;
    @include media-tablet {
      width: 11.25rem;
      height: 14.625rem;
    }
  }
  &.landscape {
    width: 11.25rem;
    height: 7.5rem;
    @include media-tablet {
      width: 16.875rem;
      height: 11.25rem;
    }
  }
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.certificate__modal {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.8);
  &.hidden {
    display: none;
  }
}

.modal__image {
  position: absolute;
  border: 3px solid #7752be;
  border-radius: 10px;

  &.landscape {
    top: 10vh;
    left: 15vw;
    width: 70vw;
  }
  &.portrait {
    top: 5vh;
    left: 30vw;
    width: 40vw;
  }
}

.close-btn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: 2rem;
  height: 2rem;
  opacity: 1;
  z-index: 1000;
  &:hover {
    opacity: 0.3;
    cursor: pointer;
  }
  &::before,
  &::after {
    position: absolute;
    left: 0.9rem;
    content: '';
    height: 2rem;
    width: 0.2rem;
    background-color: #fff;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &.hidden {
    opacity: 0;
  }
}
