$color-dark: #131313;
$color-primary: #7752be;
$color-secondary: #6cccff;
$color-secondary-light: #e0f3fd;

$color-light: #ffffff;
$color-black: #000000;
$color-border: #e3e3e3;
$color-gray: #c7c7c7;
$color-gray-dark: #c1c1c1;
$color-gray-medium: #cfcfcf;
$color-gray-light: #e8e8e8;
$color-gray-transparent: #c5c5c5;
$color-light-medium: #f8f8f8;
$color-light-darken: #f0f0f0;
$color-red: #ff6f6f;

$laptop-big-width: 1200px;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 428px;
