$color-dark: #333333;
$color-primary: #7752be;
// $color-secondary: #33CCCC;
$color-secondary: #63afd0;
$color-secondary-light: #e0f3fd;

$laptop-big-width: 1200px;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 428px;
